/*ul*/
.minesweeper {
  border: 2px solid red;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;

}

/*li*/
.hidden {
  width: 40px;
  height: 40px;
  background-color: #3CC0D9;
  // background-color: #59C8ED;
  border: 1px solid #56D5FF;
}

.hidden:hover {
  background-color: #79D5FF;
}

.revealed {
  width: 40px;
  height: 40px;
  background-color: #2C7CA1;
  border: 1px solid #56D5FF;
  text-align: center;
  font-weight: 700;
}
